body{
    font-style: Arial;
    font-size: 12pt;
    margin: 100px;
    background-color:rgb(206, 245, 202);
}
h1 {
    background-color: rgb(78, 78, 221);
    margin-left: 250px;
    margin-right: 250px;
    font-style: Arial;
    font-size: 30pt;
    -webkit-text-fill-color: azure;
}
h2 {
    background-color: rgb(183, 201, 233);
    -webkit-text-fill-color: rgb(55, 4, 85);
    font-style: Arial;
    font-size: 20pt;
}
h3 {
    font-style: Arial;
    font-size: 14pt;
    -webkit-text-fill-color: rgb(77, 0, 0);
}
a:link {color:blue;
    background-color:transparent;
    text-decoration: underline;
}
a:visited {color:brown;}
a:hover {color:red}
a:active {color:black}

th, td {border: 1px solid black; padding: 5px;}
table {
    border-collapse: collapse; 
    margin: 5px;
    color: black;
}