
body{
    font-style: Arial;
    font-size: 12pt;
    margin: 100px;
    background-color:rgb(206, 245, 202);
}
h1 {
    background-color: rgb(78, 78, 221);
    font-style: Arial;
    font-size: 30pt;
    -webkit-text-fill-color: azure;
}
h2 {
    background-color: rgb(183, 201, 233);
    -webkit-text-fill-color: rgb(55, 4, 85);
    font-style: Arial;
    font-size: 20pt;
}
h3 {
    font-style: Arial;
    font-size: 14pt;
    -webkit-text-fill-color: rgb(77, 0, 0);
}
a:link {color:blue;
    background-color:transparent;
    text-decoration: underline;
}
a:visited {color:brown;}
a:hover {color:red}
a:active {color:black}

th, td {border: 1px solid black; padding: 5px;}
table {
    border-collapse: collapse; 
    margin: 5px;
    color: black;
}
#enlarged-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}
nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: block;
  }

  a:hover {
    background-color: #443055;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #7700ff;
  }

